spring:
  config:
    activate:
      on-profile: test
  cache:
    type: redis
    redis:
      cache-null-values: true
  data:
    redis:
      # docker compose enable 시 여기 적힌 redis 접속 정보 무시됨
      client-type: lettuce
      host: 127.0.0.1
      port: 6379
      password:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
    database-platform: org.hibernate.dialect.H2Dialect
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:test;
    username: sa
    password:
  task:
    execution:
      pool:
        core-size: 2
        max-size: 10
        queue-capacity: 500
      thread-name-prefix: implace-async-
  docker:
    compose:
      enabled: false
